$headerHeight: 80px;
$footerHeight: 32px;
$navWidth: 48px;

$figureWidth: 220px;
$figureBorder: 10px;
$figureMargin: 20px;
$figureWidthFull: $figureWidth + 2*$figureMargin;

$headColor: #444;

@keyframes jiggle {
	0%   {transform: rotate(0deg) scale(1);}
	25%   {transform: rotate(15deg) scale(1.1);}
	75%  {transform: rotate(-15deg) scale(1.1);}
	100%   {transform: rotate(0deg) scale(1);}
}

body {
	margin: 0;
	font: 12pt Calibri;
	background-color: #ccc;
	background: linear-gradient(90deg, #aaa, #eee 40%, #aaa);
}


/* The main headline of the page */
header {
	h1 {
		width: $figureWidthFull * 2;
		height: $headerHeight - 1px;
		line-height: $headerHeight - 1px;
		font-size: 32pt;
		text-shadow: 0px 0px 10px #cc9;
		color: $headColor;
		border-bottom: 1px solid $headColor;
		padding: 0;
		margin: 0 auto;
	}
}

/* The main contents of the page */
main {
	overflow: hidden;
	padding: 0;

	div {
		width: $figureWidthFull;
		height: 100%;
		margin: 0 auto;
	}
}

/* Footer of the page */
footer {
	position: absolute;
	top: 1000px;
	left: 50%;
	p {
		position: relative;
		left: -50%;

		width: $figureWidthFull * 4;
		height: $footerHeight - 1px;
		line-height: $footerHeight - 1px;
		font-size: 10pt;
		text-align: center;
		color: lighten($headColor, 20%);
		border-top: 1px solid $headColor;
		margin: 0 auto;
		padding: 0;
	}
}


/* This section represents one tab -- one category of photos */
section.tab {
	padding: 0;
	margin: 0 auto;
	width: $figureWidthFull;


	h2 {
		color: $headColor;
		font-size: 24pt;
		padding: $figureMargin/2 2*$figureMargin;
		margin: 0;
	}

	&:target {
		section {
			transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
			opacity: 1;
			z-index: 10;
		}
	}

	/* Inner section holds the figures */
	section {
		position: absolute;
		transition: transform 1s ease, opacity 1s;
		transform: perspective(400px) rotate3d(0, 1, 0, 70deg);
		opacity: 0;
		transform-origin: bottom left;

		font-size: 0; // remove invisible margin between inline divs
		/* Figure is a photograph with its caption */
		figure {
			font-size: 14px;
			display: inline-block;
			width: $figureWidth - 2*$figureBorder;
			border: $figureBorder solid white;
			overflow: hidden;
			background-color: white;
			margin: $figureMargin;
			box-shadow: 2px 2px 7px #777;

			&:hover {
				animation-name: jiggle;
				animation-duration: 1s;
			}

			img {
				width: $figureWidth - 2*$figureBorder;
				margin: 0;
			}

			figcaption {
				width: $figureWidth - 2*$figureBorder;
				text-align: center;
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

section.tab:target+nav {
	display: block;
	a {
		z-index: 12;
	}
}

section.tab+nav {
	display: none;

	a {
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);

		text-decoration: none;
		font-size: 64pt;
		font-weight: bold;
		color: $headColor;
		text-align: center;
		opacity: 0.3;
		background-color: rgba(128, 128, 128, 0.0);

		&[rel="prev"] {
			left: 26px;
		}

		&[rel="next"] {
			right: 0;
		}
	}

	a[rel="prev"]:hover {
		background: linear-gradient(-90deg, rgba(128, 128, 128, 0.0), rgba(128, 128, 128, 0.8));
	}
	
	a[rel="next"]:hover {
		background: linear-gradient(90deg, rgba(128, 128, 128, 0.0), rgba(128, 128, 128, 0.8));
	}
}

$sizes: 576px, 768px, 992px, 1200px ;

@each $size in $sizes {
	@media (min-width: $size) {
		section.tab, main div {
			width: $size - 2*$navWidth;
		}
	}
}
